.form {
  width: 50%;
  max-width: 90%;
  height: 60%;
  max-height: 90%;
  background-color: var(--bg-color);
  box-shadow: 0 0 30px var(--box-shadow);
  border-radius: 30px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--hd-ft-border);
}

.form h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  font-size: 30px;
}

.form input {
  width: 50%;
  height: 40px;
  border-radius: 60px;
  border: 2px solid var(--bg-color);
  background-color: var(--input-bg);
  color: var(--text-color);
  outline: none;
  padding: 15px;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
}

.form input:focus {
  border: 2px solid var(--text-color);
  transition: 0.3s;
}

.form input::placeholder {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--text-color);
}

.form_button {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 24px;
  background: var(--button-color);
  padding: 11px 18px;
  border-radius: 3vh;
  color: #333333;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s;
  white-space: nowrap;
}

.form_button:hover {
  transition: 0.3s;
  color: var(--button-color);
  background-color: #333333;
  border-style: none;
}

.short_url {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
  width: 70%;
  max-width: 90%;
  border-radius: 30px;
  margin-bottom: 24px;
}

.short_url_left_side {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.short_url_left_side a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-size: 20px;
  color: #f1f1f1;
  transition: 0.3s;
}

.short_url_left_side a:hover {
  transition: 0.3s;
  color: #7b7b7b;
}

.short_url_left_side button {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background: #f1f1f1;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 16px;
  margin-right: 10px;
}

.short_url_left_side button:hover {
  background: #8c8c8c;
  transition: 0.3s;
}

.short_url_left_side button text {
  color: #a0a0a0;
}

.short_link {
  margin-bottom: 36px;
}

.buttons {
  margin-top: 36px;
}

.short_url_right_side {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.qr_code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.qr_code a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-size: 16px;
  color: #cfcfcf;
  margin-top: 10px;
  transition: 0.3s;
}

.qr_code a:hover {
  transition: 0.3s;
  color: #7b7b7b;
}

.qr_code img {
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
  border-radius: 20px;
  display: block;
}
