.url_item {
  border-bottom: 2px solid #e4e4e4;
  height: 70px;
  padding: 10px 15px;
  display: grid;
  grid-template-columns:
    8% /* Number */
    30% /* Original URL */
    10% /* Short code */
    8% /* User ID */
    9% /* Click count */
    15% /* Created at */
    20%; /* Кнопки */
  align-items: center;
}

.url_item h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url_item a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 15px;
  color: #bcbcbc;
  transition: 0.3s;
}

.url_item a:hover {
  transition: 0.3s;
  color: #7b7b7b;
}
