.header {
  position: sticky;
  background-color: var(--header-bg);
  width: 100%;
  height: 94px;
  border-bottom-left-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: var(--header-shadow);
}

.header_left {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header_left a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-size: 30px;
  color: var(--header-text);
}

.header_left img {
  filter: var(--image-filter);
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.header_center {
  display: flex;
  align-items: center;
}

.header_center ul {
  font-family: "Inter", serif;
  color: var(--header-text);
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.header_center ul li {
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
}

.header_center ul li:not(:last-of-type) {
  margin-right: 40px;
}

.header_center ul li a {
  text-decoration: none;
  color: var(--header-text);
}

.header_right {
  margin-right: 45px;
  display: flex;
  align-items: center;
}

.header_right button {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--button-color);
  color: var(--button-text);
  padding: 11px 18px;
  border-radius: 3vh;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.header_right button:hover {
  transition: 0.3s;
  border-radius: 1.4vh;
  color: var(--button-text-hover);
  border-style: none;
}

.header_right img {
  filter: var(--image-filter);
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.header_right img:hover {
  transform: rotate(90deg);
}

.theme_menu {
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  right: 80px;
  top: 94px;
  background: var(--header-bg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px;
}

.theme_menu button {
  background: var(--button-color);
  border: none;
  color: #333333;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 30px;
  text-align: left;
  font-family: "Inter", sans-serif;
}

.theme_menu button:hover {
  background: var(--button-hover);
  color: #333333;
  border-radius: 10px;
}

.theme_menu button.active {
  font-weight: bold;
  background: var(--active-bg);
}
